* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Gaming\ Images.jpeg);
    background-size: cover;

}
h1 {
    text-align: center;
    margin-left: 20px;
}
.container{
    height: 500px; 
    width: 400px;
    position: relative;
    margin-left: 40%;
    border: 2px solid black;
    box-shadow: 10px 10px;
    color: black;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

input{
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
    text-align: center;
    width: 200px;
    color: black;

}

.container span{
    margin-right: 10px;
}
.container button{
    height: 60px;
    width: 200px;
    color: black;
}
